/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-color: #141b25;
  --font-color: #FFFFFF;
  --max-width: 1200px;
  --black-opacity: rgba(0, 0, 0, .3);
}
@font-face {
  font-family: DINAlternate-Bold;
  src: url('./font/DIN Alternate Bold.ttf');
}
@font-face {
  font-family: DINCondensed-Bold;
  src: url('./font/DIN Condensed Bold.ttf');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-width: var(--max-width);
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width:768px) {
  :root{
    --max-width: 100vw;
  }
  .container{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  h1{
    font-size: 26px !important;
    text-align: center;
  }
}